html, body {
	line-height: 30px;
	font-family: "Roboto", serif;
    height: 100%;
    width: 100%;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Chivo", serif;
}

a {
    text-decoration: none;
}

.bg-black {
    background-color: #1D1D1D;
}

.text-white, .text-hover-white .text-hover-white2 {
    color: #FFFFFF;
}

.text-hover-white:hover {
    color: #1D1D1D;
}

.text-hover-white2:hover {
	color: #929493;
}

.text-black, .text-hover-black {
    color: #1D1D1D;
}

.text-hover-black:hover {
    color: #FFFFFF;
}

.page {
    width: 100%;
    min-height: 100%;
}

.features {
    width: 33%;
}

.box {
    background-color: #67A0D6;
	color: white;
}

.icon {
	font-size: 100px;
}

.button {
	min-height: 10%;
	line-height: 100px;
    border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
}

.social {
    width: 20%;
    margin: auto;
}

.w3-display-middle {
    white-space: nowrap;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .page {
        background-attachment: scroll;
    }
}
