@import "../../theme/_index.scss";

.RequestResetPassword__Label {
    color: $darkPastelBlue;
}

.RequestResetPassword__Input {
    margin-top: $margin * 2;
}

.RequestResetPassword__Button {
    margin-top: 16px;
}