// Extra small screen / phone
$xs: 480px;
// Small screen / tablet
$sm: 768px;
// Medium screen / desktop
$md: 992px;
// Large screen / wide desktop
$lg: 1200px;

// Font
$font: 'Chivo', sans-serif;

// COLORS
$darkPastelBlue: #67A0D6;
$governorBay: #455896;
$portGore: #324173;
$lobLolly: #BCCBD3;
$jordyBlue: #88bde6;
$nevada: #6c6e78;
$tabasco: #9d2720;
$thunderbird: #bb3726;
$margin: 6px;
