// Extra small screen / phone
$xs: 480px;
// Small screen / tablet
$sm: 768px;
// Medium screen / desktop
$md: 992px;
// Large screen / wide desktop
$lg: 1200px;

// Font
$font: 'Chivo', sans-serif;

// COLORS
$color1: #67A0D6;
$color2: #455896;
$color3: #324173;
$color4: #BCCBD3;

