body,h1,h2,h3,h4,h5,h6, p, a {
    font-family: "Chivo", sans-serif !important;
}

body, html {
    height: 100%;
    color: #6C6E78;
    line-height: 1.0;
}

a {
    text-decoration: none;
}

.bg-blue {
    background-color: #67A0D6;
}

.bg-darkblue {
    background-color: #324173;
}

.bg-grey {
    background-color: #929493;
}

.bg-black, .bg-hover-black {
    background-color: #1D1D1D;
}

.bg-white {
    background: #FFFFFF;
}

.text-white, .text-hover-white {
    color: #FFFFFF;
}

.text-hover-white:hover {
    color: #1D1D1D;
}

.text-black, .text-hover-black {
    color: #1D1D1D;
}

.text-hover-black:hover {
    color: #FFFFFF;
}

.text-lightgrey, .text-hover-lightgrey {
    color: #BCCBD3;
}

.text-hover-lightgrey:hover {
    color: #1D1D1D;
}

/* First image (Logo. Full height) */
.page {
    height: 100%;
}

.map {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.feature {
    margin-left: 3%;
    margin-right: 3%;
    height: 60%;
}

.feature1 {
    max-width: 100%;
    height: auto;
}

.feature2 {
    max-height: 100%;
    width: auto;
}

.feature3 {
    width: 80%;
    max-width: 100%;
    height: auto;
}

.featureItem, .featureChild, .featureImage { /*Give childs access to %height*/
    height: 100%;
}

.featureImage { /* Center image*/
    display: block;
    margin: auto;
}

.center {
    padding-top: 10%;
    padding-bottom: 10%;
}

.center p, .center h2 {
    text-align: center;
}

.w3-display-middle {
    white-space:nowrap;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .page {
        background-attachment: scroll;
    }
}
