@import url('https://fonts.googleapis.com/css?family=Chivo:400,700i,900');

@import "./theme/_index.scss";
@import "./_reset.scss";

body,
html,
#root {
  height: 100%;
  width: 100%;
}

html * {
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $darkPastelBlue;
}

table {
  width: 100%;
}

table th {
  text-align: left;
  font-weight: bold;
}

table td,
table th {
  padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
  color: rgba(0,0,0,.72);
  margin-top: $margin * 2;
  margin-bottom: 20px; 
}
h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1.12em;
}

h5 {
  font-size: .83em;
}

h6 {
  font-size: .75em;
}

p {
  margin-bottom: $margin * 2;
}
