@import "../../theme/_index.scss";

.GuestMode {
  display: flex;
  justify-content: center;
  min-height: 100%;
}

.GuestMode__Wrapper {
  width: 360px;
  min-height: 100%;

  padding: 30px 30px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  justify-content: center;
}

.GuestMode__Logo {
  margin: 0 auto;
}

.GuestMode__Label {
  color: $darkPastelBlue;
}

.GuestMode__GoBack {
  color: $darkPastelBlue;
  font-size: 13px;
  margin-top: $margin * 2;
  text-align: center;
}

@media (min-width: 300px) {
  .GuestMode__Logo {
    width: 80%;
    padding: 0px 20px 30px;
  }
}