@import "../../theme/_index.scss";

.StartScreen {
    display: flex;
}

.StartScreen__Title {
    font-size: 29px;
    color: $darkPastelBlue;
    text-align: center;
}

.StartScreen__SubTitle {
    font-size: 17.5px;
    color: $darkPastelBlue;
    text-align: center;
    margin-top: 16px;
}

.StartScreen__Buttons {
    margin-top: auto;
}

.StartScreen__Buttons__Start {
    margin-top: 32px;
}

.StartScreen__Buttons__LogIn {
    margin-top: 16px;
}

@media (max-height: 500px) {
  .GuestMode__Logo {
    padding: 0px 10px 0px;
  }
}

@media (min-height: 700px) {
    .StartScreen__Buttons {
        margin-top: 50px;
    }
}