@import "../../theme/_index.scss";

.StartScreen {
    display: flex;
}

.StartScreen__Item {
    width: 100%;
}

.StartScreen__Title {
    font-size: 29px;
    color: $darkPastelBlue;
    text-align: center;
}

.StartScreen__SubTitle {
    font-size: 17.5px;
    color: $darkPastelBlue;
    text-align: center;
    margin-top: 16px;
}

.StartScreen__Button__Start {
    margin-top: 32px;
}

.StartScreen__Button__LogIn {
    margin-top: 16px;
}

.StartScreen__Dots {
    display: flex;
    justify-content: space-between;
    margin: 0px 80px;
    margin-top: 90px;
}

.StartScreen__Dot {
    display: flex;
    height: 15px;
    width: 15px;

    border: 1px solid $nevada;
    border-radius: 50%;

    cursor: pointer;
}

.StartScreen__Dot--active {
    background-color: $nevada;
}
