@import "../../theme/_index.scss";

.Header {
  width: 100%;
  border-bottom: 1px solid rgb(222, 222, 222);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 10;
  background-color: white;
  flex-shrink: 0;
  height: $headerHeight;
  z-index: 9;
  position: relative;
}

.Header__Wrapper {
  width: 100%;
  height: 100%;
  max-width: 1010px;
  margin: 0 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: inherit;
  z-index: 10;
}

.Header__Logo {
  height: 85%;
}

.Header__Logo img {
  height: 100%;
  width: auto;
}

.Header__Menu {
  display: flex;
  margin: 10px;
}

/** 
  * Prevent blinking, temp 
  * TODO: make use of image sprites
**/
.Header__Menu:after {
  display: none;
  content: url('./Icons/leader.svg') url('./Icons/leader_gray.svg')
    url('./Icons/bird.svg') url('./Icons/bird_gray.svg')
    url('./Icons/sign_out.svg') url('./Icons/sign_out_gray.svg');
}

.Header__Menu__Icon:hover,
.Header__Menu__Icon:active,
.Header__Menu__Icon:visited,
.Header__Menu__Icon:focus {
  text-decoration: none;
}

.Header__Menu__Icon {
  height: 55px;
  margin: 0 20px;

  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position-x: center;

  display: flex;
  align-items: flex-end;

  font-weight: bold;

  color: rgb(125, 125, 125);
}

.Header__Menu__Leader {
  background-image: url('./Icons/leader_gray.svg');
}

.Header__Menu__Bird {
  background-image: url('./Icons/bird_gray.svg');
}

.Header__Menu__SignOut {
  cursor: pointer;
  background-image: url('./Icons/sign_out_gray.svg');
}

.Header__Menu__Leader:hover,
.Header__Menu__Leader:focus,
.Header__Menu__Leader--active {
  background-image: url('./Icons/leader.svg');
  color: rgb(234, 181, 50);
}

.Header__Menu__Bird:hover,
.Header__Menu__Bird:focus,
.Header__Menu__Bird--active {
  background-image: url('./Icons/bird.svg');
  color: rgb(214, 102, 55);
}

.Header__Menu__SignOut:hover,
.Header__Menu__SignOut:focus,
.Header__Menu__SignOut--active {
  background-image: url('./Icons/sign_out.svg');
  color: $darkPastelBlue;
}

@include onTablet() {
  .Header__Logo {
    height: 60%;
  }
}

@include onMobile() {
  .Header__Logo {
    display: none;
  }

  .Header__Menu {
    width: 100%;
    justify-content: space-between;
  }

  .Header__Menu__Icon {
    margin: 0 5px;
  }
}

.Header__LogoNotAuthenticated {
  height: 100%;
  width: 100%;

  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 10;

  img {
    height: 60%;
  }
}
