@import "../../theme/_index.scss";

$headerHeight: 125px;

.Header {
  width: 100%;
  border-bottom: 1px solid whitesmoke;

  display: flex;
  justify-content: center;
}

.Header__Wrapper {
  width: 100%;
  max-width: 1010px;
  margin: 0 50px;

  height: $headerHeight;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header__Logo {
    height: 85%;
}

.Header__Menu {
  display: flex;
}

/** 
  * Prevent blinking, temp 
  * TODO: make use of image sprites
**/
.Header__Menu:after {
  display: none;
  content: 
    url('./Icons/leader.svg') 
    url('./Icons/leader_gray.svg') 
    url('./Icons/bird.svg')
    url('./Icons/bird_gray.svg')
    url('./Icons/profile_gray.svg')
    url('./Icons/profile.svg')
}

.Header__Menu__Icon {
  height: 55px;
  margin: 0 20px;

  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position-x: center;

  display: flex;
  align-items: flex-end;
  
  font-weight: bold;

  color: rgb(125, 125, 125);
}

.Header__Menu__Leader {
  background-image: url('./Icons/leader_gray.svg');
}

.Header__Menu__Bird {
  background-image: url('./Icons/bird_gray.svg');
}

.Header__Menu__Profile {
  background-image: url('./Icons/profile_gray.svg');
}

.Header__Menu__Leader:hover, .Header__Menu__Leader--active {
  background-image: url('./Icons/leader.svg');
  color: rgb(234, 181, 50);
}

.Header__Menu__Bird:hover, .Header__Menu__Bird--active {
  background-image: url('./Icons/bird.svg');
  color: rgb(214, 102, 55);
}

.Header__Menu__Profile:hover, .Header__Menu__Profile--active {
  background-image: url('./Icons/profile.svg');
  color: $darkPastelBlue;
}

@include onTablet() {
  .Header__Logo {
    height: 60%;
  }
}

@include onMobile() {
  .Header__Logo {
    display: none;
  }

  .Header__Menu {
    width: 100%;
    justify-content: space-between;
  }
}