@import "../../theme/_index.scss";

.Form__Button {
  outline: none;
  border: none;

  width: 100%;
  text-align: center;

  color: white;
  font-size: 17px;
  padding: 12px 0px; 

  background-color: $darkPastelBlue;
  border-radius: 3px;

  cursor: pointer;
}

.Form__Button--clean {
  width: auto;
  font-size: auto;
  padding: auto;
  background-color: initial;
  
}

.Form__Button--circle {
  border-radius: 50%; 
}

.Form__Button--light {
  background-color: $jordyBlue;
}

.Form__Button:disabled {
  cursor: not-allowed;
}

.Form__Button:hover {
  background-color: $jordyBlue;
}

.Form__Button:active, .Form__Button:focus {
  background-color: $celestialBlue;
}

.Form__Button:disabled {
  background-color: $lobLolly;
}

.Form__FacebookButton {
  background-color: $governorBay;
  padding: 0px;
}

.Form__FacebookButton:hover {
  background-color: lighten($governorBay, 2);
}

.Form__FacebookButton:active, .Form__FacebookButton:focus {
  background-color: darken($governorBay, 10);
}


.Form__FacebookButton__Wrapper {
  display: flex;
}

.Form__FacebookButton__Item {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content:center;
}

.Form__FacebookButton__Logo {
  background-color: $portGore;
  border-radius: 3px;
  width: 50px;
  font-size: 25px;
}

.Form__FacebookButton__Children {
  flex-grow: 1;
  padding: 12px 0px; 
}
