@import "../../theme/_index.scss";

.Form__Label {
  font-weight: bold;
  display: block;
  padding: 12px 0px;
  margin-top: 8px;
}

.Form__Input {
  width: 100%;
  box-sizing: border-box;

  color: $color4;
  font-size: 17px;

  border: 1px solid $color4;
  border-radius: 2px;
  

  padding: 12px;
}

.Form__Input::placeholder {
  color: $color4 !important;
}

.Form__Input:focus, .Form__Dropdown:focus, .Form__Textarea:focus {
  outline: none !important;
}

.Form__Field__Invalid {
  //border: 1.2px solid #F44336 !important;
  //color: #F44336 !important;
}
