@import "../../theme/_index.scss";

.Form__Label {
  font-weight: bold;
  display: block;
  padding: 12px 0px;
  margin-top: 8px;
}

.Form__Input {
  width: 100%;
  box-sizing: border-box;

  color: $jordyBlue;
  font-size: 17px;

  border: 1px solid $lobLolly;
  border-radius: 3px;
  
  padding: $margin*2;
}

.Form__Input__Icon {
  background-repeat: no-repeat;
  background-size: $margin*3 $margin*3;
  background-position: $margin * 2 center;

  padding: $margin*2 $margin*7;
}

.Form__Input__Icon--email {
  background-image: url(../../theme/icons/email.svg);
}

.Form__Input__Icon--lock {
  background-image: url(../../theme/icons/lock.svg);
}

.Form__Input__Icon--person {
  background-image: url(../../theme/icons/person.svg);
}

.Form__Input::placeholder {
  color: $lobLolly !important;
}

.Form__Input:focus, .Form__Dropdown:focus, .Form__Textarea:focus {
  outline: none !important;
  border: 1px solid $jordyBlue;
}


.Form__Field__Invalid, .Form__Field__Invalid:focus, .Form__Field__Invalid::placeholder,  {
  border-color: $thunderbird;
  color: $thunderbird !important;
}
