.Form__Label {
  font-weight: bold;
  display: block;
  padding: 12px 0px;
  margin-top: 8px;
}

.Form__Input {
  padding: 12px 12px;
  width: 100%;
}

.Form__Input:focus, .Form__Dropdown:focus, .Form__Textarea:focus {
  outline: none !important;
}

.Form__Field__Invalid {
  border: 1.2px solid #F44336 !important;
  color: #F44336 !important;
}

.Form__Field__Invalid::placeholder {
  color: lighten(#F44336, 20) !important;
}