@import "../../theme/_index.scss";

.Observations__Picture {
    margin: 0 auto;
    display: block;
    width: 100%
}

.Observations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Observations__Polaroid {
    width: 115px;
    margin-bottom: 20px;
}

.Polaroid {
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.16);
    border-radius: 3px;

    isolation: isolate;

    width: 100%;

    padding: $padding * 3;
    box-sizing: border-box;
}

.Polaroid__Inner {
    background-color: rgb(85, 85, 85);
    width: 100%;
    height: auto;
}

.Polaroid__Footer {
    height: 50px;
}

.Observations__Buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.Observations__Button {
    width: 75px;
    margin: 20px;
    cursor: pointer;
}