@import "../../theme/_index.scss";

.Observations__Picture {
    margin: 0 auto;
    display: block;
    width: 100%;
    user-drag: none;
}

.Observations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Observations__Polaroid {
    width: 115px;
    margin-bottom: 20px;
}

.Polaroid {
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.16);
    border-radius: 3px;

    isolation: isolate;

    padding: $padding * 3;
    box-sizing: border-box;
}

.Polaroid__Inner {
    background-color: rgb(85, 85, 85);
    height: auto;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.Polaroid__Footer {
    height: 50px;
}

.Observations__Buttons {
    z-index: 1;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.Observations__Button {
    margin: 20px;
    cursor: pointer;
}
