.Observations {
    width: 500px;
    margin: 50px auto;
}

.Observations__Picture img {
    margin: 0 auto;
    display: block;
}

.Observations__Buttons {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}