@import "../../theme/_index.scss";

.App {
  height: 100%;
  min-height: 100%;
}

.App__Wrapper {
  min-height: 100%;

  margin-bottom: -$footerHeight;
}

.App__Footer {
  flex-shrink: 0;
  height: $footerHeight - 1;

  border-top: 1px solid rgb(222, 222, 222);
}

.App__Push {
  height: $footerHeight;
}

.App__Content {
  padding: 30px;
}