@import "../../theme/_index.scss";

.NotFound {
  display: flex;
  align-items: center;
  justify-content: center;
}

.NotFound__Wrapper {
  width: 360px;
  height: 640px;

  padding: 50px 30px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.NotFound__Text {
    text-align: center;
    font-weight: 900;
    font-size: 22px;
    color: $mountainMist;
    margin: 20px 0px;
}

.NotFound__SubText {
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    color: $mountainMist;
    margin: 20px 0px;
}

.NotFound__Logo {
  margin: 0 auto;
  width: 275px;

  padding: 20px 20px 50px;
}