.Divider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.Divider__Left, .Divider__Right {
  height: 1px;
  background-color: #BCCBD3;
  width: 100%; }

.Divider__Text {
  font-weight: bold;
  font-style: italic;
  font-size: 11px;
  color: #BCCBD3;
  margin: 0px 6px; }
