@import "../../theme/_index.scss";

.Errors {
  color: lighten($tabasco, 5);

  background-color: lighten($tabasco, 45);
  border-radius: 3px;

  padding: $padding * 2;

  margin: $margin * 3 0;
}

.Errors__List {
  list-style-type: disc;
  margin-left: $margin * 3;
}

.Errors__List li {
  margin-bottom: $margin * 1.5;
}

.Errors__List li:last-child {
  margin-bottom: 0px;
}