@import "../../../theme/_index.scss";

.flickity-page-dots {
    bottom: 10px;
}

.flickity-page-dots .dot {
    width: 14px;
    height: 14px;
    opacity: initial;
    background-color: rgb(182, 182, 182); // TODO: ask Cynthia for the exact color
}

.flickity-page-dots > .is-selected {
    background-color: $thunderbird !important;
}