@import "../../theme/_variables.scss";

$borderRadius: 3px;

.Ranking {
	max-width: 560px;
	min-height: 300px;

	color: white;

	margin: 0 auto;
	margin-top:30px;
}

.Ranking__Header {
	display: flex;
	background-color: $darkPastelBlue;

	padding: 17px 30px;

	font-weight: 600;
	font-size: 25px;

	border-radius: $borderRadius;
	margin-bottom: 30px;
}

.Ranking__Header__Rank {
	flex-shrink: 0;

	display: flex;
	flex-direction: column;
}

.Ranking__Header__Profile {
	flex: 1 0 auto;
	text-align: center;

	position: relative;

	> div {
		margin-top: 40px;
	}
}

.Ranking__Header__Points {
	flex-shrink: 0;
}

.Ranking__Header__Rank, .Ranking__Header__Points {
	> div:nth-child(1) {
		font-weight: 500;
	}

	> div:nth-child(2) {
		text-align: center;
		padding-top: 10px;
	}
}

.Profile__Header__Picture {
	position: absolute;
	top: -70px;
	left: 50%;
	right: 50%;
	transform: translate(-50%, 0%);

	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: solid 5px $rankingBlue;
}

.Ranking__Line {
	background: $darkPastelBlue;
	font-size: 25px;
	line-height: 28px;

	display: flex;

	padding: 20px 20px;
	margin-bottom: 10px;

	border-radius: $borderRadius;

	font-weight: 600;
}

.Ranking__Line__Rank--active {
	background-color: $rankingBlue;
}

.Ranking__Line__Rank {
	flex-shrink: 0;
	position: relative;

	z-index: 0;

	width: 35px;

	text-align: center;

	img {
		position: absolute;
		z-index: -1;
		width: 35px;

		left: 50%;
		right: 50%;
		transform: translate(-50%, 0%);
	}
}

.Ranking__Line__Rank--top > span {
	font-size: 13px;
	font-weight: normal;
	display: block;
	margin-top: -4px;
	z-index: 3;
}

.Ranking__Line__Name {
	flex-grow: 1;
	text-align:center; 
}

@media (max-width: 425px) {
	.Ranking__Line, .Ranking__Header {
		font-weight: normal;
		font-size: 15px;
		line-height: 21px;
	}
}

// self color = rankingBlue
